body{
    background-color:#fff5ec;
    height:2500px;
    width:100%;
}
.Menubar {
    display:flex;
    position:fixed;
    height:50px;
    border:1px solid #CCC;
    top:0px;
    left:0px;
    width:100%;
    z-index:2;
    
    
}
.Menu {
    width:80%;
    display:flex;
    padding-left:200px;
    padding-top:10px;
    background-color:#f7e1b0;
    
}
.Menu div a{
    display:inline-block;
    width:100px;
    text-decoration: none;
    padding-left:20px;
    padding-right:20px;
    font-family: Lobster;
    font-size:18px;
    color:black;
    transition:color 0.5s;
    text-align:center;

}
.Menu div a:hover{
    color:red;
}
.Language{
    display:flex;
    width:20%;
    padding-top:10px;
    background-color: #d63d1e;
    
    
}
.Language p{
    min-width:100px;
    color:white;
    padding-top:3px;
    margin-top:0px;
    padding-left:20px;
    padding-right:20px;
    font-family: Lobster;
    font-size:16px;
    cursor:pointer;
}
.Language a img{
    margin-left:10px;
    width:25px;
    height:25px;
    border-radius:50%;
    padding-left:10px;
    padding-right:10px;

}
.Main{
    position:absolute;
    height: 2500px;
    margin-top:50px;

}
.Maguro{
    display:block;
}
.Salmon{
    display:block;
}
.Rice{
    display:block;
}
.Video{
    display:flex;
    justify-content: flex-end;
    height:450px;
    width:800px;
    box-sizing: border-box;
    padding-left:200px;
    margin-left:250px;
    position:relative;
    z-index:1;
}
.Content{
    display:flex;
    background-color: white;
    flex-direction: row;
    position:relative;
    height:400px;
    width:800px;
    font-family: Roboto;
    font-weight:400px;
    box-sizing: border-box;
    border-top:6px solid #c8ab21;
    border-bottom:6px solid #c8ab21;
    margin-top:-126px;
    margin-left:250px;
    z-index:-1;

}
.Content-left {
    width:20%;
    display:block;
    text-align:center;
    padding-top:20px;
    
}
.Content-left h1{
    margin-top:0px;
    margin-bottom:0px;
    font-family: Roboto;
    


}
.Content-right{
    padding-top:126px;
    Width:80%;
    font-family: Roboto;
    font-size:18px;
}
.Order{
    display:block;
    margin-left:45%;
    margin-top: 50px;

}
.Order div{
    display:inline-block;
}
.Order div a button {
    width:150px;
    height:50px;
    text-align: center;
    border-radius:5px;
    border-color: #CCC;
    font-size: 16px;
    font-family: Lobster;
    margin-left:20px;
    background-color:white;
}
.Order div a button:hover {
    background-color:#d63d1e;
    Color:white;
    width:150px;
    height:50px;
    font-size:16px;
    font-family: Lobster;
    border-radius:5px;
    text-align:center;
    transition:0.2s;
    cursor:pointer;
    box-shadow: 0px 4px 8px 0px #d63d1e;
    
}
.Map {
    Width:80%;
    Height:50%;
    margin-left:23%;
    margin-top:50px;
}
.Footer{
    height:50px;
    padding-left:42%;
    margin-left:0px;
    margin-top:5px;
    background-color:#c8ab21;
    width:100%;
    position:absolute;
    z-index:-1;

}
@media screen and (max-width:900px){
    body{
        height:1500px;
    }
    .Menubar {
        display:flex;
        position:fixed;
        height:40px;
        justify-content: space-between;
        border:1px solid #CCC;
        top:0px;
        left:0px;
        width:100%;
        z-index:2;
        
        
    }
    .Menu {
        width:60%;
        display:flex;
        padding-left:100px;
        padding-top:10px;
        background-color:#f7e1b0;
        
    }
    .Menu div a{
        display:inline-block;
        width:80px;
        text-decoration: none;
        padding-left:5px;
        padding-right:5px;
        font-family: Lobster;
        font-size:14px;
        color:black;
        transition:color 0.5s;
        text-align:center;
    
    }
    .Menu div a:hover{
        color:red;
    }
    .Language{
        display:flex;
        width:30%;
        padding-top:10px;
        background-color: #d63d1e;
        
        
    }
    .Language p{
        min-width:80px;
        color:white;
        padding-top:3px;
        margin-top:0px;
        padding-left:20px;
        padding-right:10px;
        font-family: Lobster;
        font-size:14px;
        cursor:pointer;
    }
    .Language a img{
        margin-left:10px;
        width:25px;
        height:25px;
        border-radius:50%;
        padding-left:5px;
        padding-right:5px;
    
    }
    .Main{
        position:absolute;
        height: 1000px;
        margin-top:50px;
    
    }
    .Maguro{
        display:block;
    }
    .Salmon{
        display:block;
    }
    .Rice{
        display:block;
    }
    .Video{
        display:flex;
        justify-content: flex-end;
        height:250px;
        width:500px;
        box-sizing: border-box;
        padding-left:100px;
        margin-left:200px;
        position:relative;
        z-index:1;
    }
    .Content{
        display:flex;
        background-color: white;
        flex-direction: row;
        position:relative;
        height:300px;
        width:450px;
        font-family: Roboto;
        font-weight:400px;
        box-sizing: border-box;
        border-top:6px solid #c8ab21;
        border-bottom:6px solid #c8ab21;
        margin-top:-126px;
        margin-left:200px;
        z-index:-1;
    
    }
    .Content-left {
        width:20%;
        display:block;
        text-align:center;
        padding-top:20px;
        
    }
    .Content-left h1{
        margin-top:0px;
        margin-bottom:0px;
        font-family: Roboto;
        
    
    
    }
    .Content-right{
        padding-top:126px;
        Width:80%;
        font-family: Roboto;
        font-size:12px;
    }
    .Order{
        display:block;
        margin-left:35%;
        margin-top: 50px;
    
    }
    .Order div{
        display:inline-block;
    }
    .Order div a button {
        width:150px;
        height:50px;
        text-align: center;
        border-radius:5px;
        border-color: #CCC;
        font-size: 16px;
        font-family: Lobster;
        margin-left:20px;
        background-color:white;
    }
    .Order div a button:hover {
        background-color:#d63d1e;
        Color:white;
        width:150px;
        height:50px;
        font-size:16px;
        font-family: Lobster;
        border-radius:5px;
        text-align:center;
        transition:0.2s;
        cursor:pointer;
        box-shadow: 0px 4px 8px 0px #d63d1e;
        
    }
    .Map {
        Width:80%;
        Height:50%;
        margin-left:23%;
        margin-top:50px;
    }
    .Footer{
        height:50px;
        padding-left:42%;
    
    }
    hr {
        margin-left:25%;
    }
    
}
/**EatinHere**/
.name{
    display:flex;
    width:400px;
    height:30px;
    justify-content: space-between;
}
.name h3{
    margin-top:0px;
    
}
.name input{
    height:20px;
}
.tel{
    display:flex;
    width:400px;
    height:30px;
    justify-content: space-between;
}
.tel h3{
    margin-top:0px;
    
}
.tel input{
    height:20px;
}
.time{
    display:flex;
    width:400px;
    height:30px;
    justify-content: space-between;
}
.time h3{
    margin-top:0px;
    
}
.time input{
    height:20px;
}
form {
    border:1px solid black;
    border-radius: 5px;
    font-family: Roboto;
    width:420px;
    padding-left:5px;
    padding-right:5px;
    padding-top: 10px;
    margin-left:35%;
    margin-top:20%;
    background: white;
    box-shadow:0px 8px 12px 0px #CCC;

}
form p{
    font-size:12px;
    font-style: italic;
    margin-top:0px;
    padding-left:250px;
    
}
.submit{
    font-family: Roboto;
    font-size:16px;
    margin-left:66%;
    margin-top:20px;
    background-color:white;
    cursor:pointer;
}
/**Price**/
.Price{
    display:block;
    width:100px;
    position:relative;
    margin-top:60px;
}
.Price img{
    display:inline-block;
    border-radius: 50%;
    width:100px;
    height:auto;
}
.Price p{
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}
